* {
  color:#cc3524;
  font-family:sans-serif;

}
img {
  height:50px;
  width: 50px;
}
body {
    background-color:#494949;
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 25px dashed #cc3524;
    padding: 25px;
    margin: 25px;
}
h1 {
    padding-left: 25px;
}
table{
    border: 2px solid black;
}

/**/
